@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

button {
	/* background-color: #3f3f3f !important; */
	border-radius: 0 !important;
	height: 40px !important;
}
