@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
}

.ant-form-item {
	margin-bottom: 10px !important;
}

.ant-form-item-label {
	padding: 0 !important;
}

button {
	border-radius: 1px !important;
	box-shadow: none !important;
	height: 40px !important;
}

input {
	border: 1px solid #bbbbbb !important;
	border-radius: 1px !important;
	height: 40px !important;
}

input:focus {
	border: 1px solid #343434 !important;
	box-shadow: none !important;
}
